@font-face {
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono.ttf");
}

.no-select {
    user-select: none;
}

.ant-popover-inner-content {
    padding: 10px 0 !important;
}

.animate__disappear {
    display: none;
}

#settings .ant-tabs-nav .ant-tabs-tab-active {
    color: violet;
}

#settings .ant-tabs-ink-bar {
    background-color: violet;
}

#settings .ant-tabs-nav .ant-tabs-tab:hover {
    color: violet;
}
#settings .ant-anchor-wrapper {
    background-color: transparent;
}
#settings .ant-anchor-ink::before {
    background-color: rgba(128,128,128,0.3);
}

#settings .ant-tabs-top-content {
    height: 100%;
}
#settings .ant-anchor-ink-ball {
    border-color: violet;
}
#settings .ant-anchor-link-active > .ant-anchor-link-title {
    color: violet;
}
#settings .ant-anchor-link-title:hover {
    color: violet;
}